{% extends 'layout/base.html' %}
{% load i18n %}
{% load account socialaccount %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}

<div class="area">
    <form method="post" class="p-4 bg-light rounded-3">
        {% csrf_token %}
        <button class="btn btn-block btn-lg btn-primary mb-3">
            <i class="fab fa-{{provider.id}}"></i>
            {{provider.name }}
        </button>
        <a class="btn btn-block btn-lg btn-outline-primary mb-3" href="{% url 'account_login' %}">
            Login with email/password
        </a>
        <a class="btn btn-block btn-lg btn-outline-success" href="{% url 'account_signup' %}">
            Sign up using email/password
        </a>
    </form>
</div>
{% endblock content %}

{% block css %}
<style>
    body{
        background-image: url('{% static "images/bg1.png" %}');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .area {
        display: grid;
        place-items: center;
        height: 100vh;
        
    }
    .btn {
        display: block;
        width: 20rem;
    }
</style>
{% endblock css %}