{% extends 'layout/base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container-fluid p-5">
    <div class="row">
        <div class="col-md-6 mx-auto border" style="background-color: #efefef;">
            <form method="post" autocomplete="off">
                <h1 class="text-center">Feedback</h1>
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-light text-secondary my-3">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block css %}{% endblock css %}
{% block js %}{% endblock js %}